name: Generate Snapshot Feature
on:
  push:
    branches:
      - 'features/**'
jobs:
  Build-Dockerfile:
    runs-on: ubuntu-latest
    steps:
      - name: Install JQ to parse JSON
        run: apt-get install -y jq

      - uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: rjlabegalini8/bootcamp